@font-face {
    font-family:'arzhu';
    src:url('https://cdn.jsdelivr.net/gh/HanxuLiu/CDN1/font/langmanqingshu.ttf'); /* �޸ĳ�������� */
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}